USE [UniversidadEjemplo]
GO
/****** Object:  StoredProcedure [dbo].[sp_validar_usuario]    Script Date: 17/04/2023 23:12:06 ******/
DROP PROCEDURE [dbo].[sp_validar_usuario]
GO
/****** Object:  StoredProcedure [dbo].[sp_materiasxcarrera]    Script Date: 17/04/2023 23:12:06 ******/
DROP PROCEDURE [dbo].[sp_materiasxcarrera]
GO
/****** Object:  StoredProcedure [dbo].[sp_listar_usuarios]    Script Date: 17/04/2023 23:12:06 ******/
DROP PROCEDURE [dbo].[sp_listar_usuarios]
GO
/****** Object:  StoredProcedure [dbo].[sp_listar_carreras]    Script Date: 17/04/2023 23:12:06 ******/
DROP PROCEDURE [dbo].[sp_listar_carreras]
GO
/****** Object:  StoredProcedure [dbo].[sp_insertar_materia]    Script Date: 17/04/2023 23:12:06 ******/
DROP PROCEDURE [dbo].[sp_insertar_materia]
GO
ALTER TABLE [dbo].[Usuario] DROP CONSTRAINT [FK_Usuario_Perfil]
GO
ALTER TABLE [dbo].[Materia] DROP CONSTRAINT [FK_Materia_Carrera]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 17/04/2023 23:12:06 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Usuario]') AND type in (N'U'))
DROP TABLE [dbo].[Usuario]
GO
/****** Object:  Table [dbo].[Perfil]    Script Date: 17/04/2023 23:12:06 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Perfil]') AND type in (N'U'))
DROP TABLE [dbo].[Perfil]
GO
/****** Object:  Table [dbo].[Materia]    Script Date: 17/04/2023 23:12:06 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Materia]') AND type in (N'U'))
DROP TABLE [dbo].[Materia]
GO
/****** Object:  Table [dbo].[Carrera]    Script Date: 17/04/2023 23:12:06 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Carrera]') AND type in (N'U'))
DROP TABLE [dbo].[Carrera]
GO
USE [master]
GO
/****** Object:  Database [UniversidadEjemplo]    Script Date: 17/04/2023 23:12:06 ******/
DROP DATABASE [UniversidadEjemplo]
GO
/****** Object:  Database [UniversidadEjemplo]    Script Date: 17/04/2023 23:12:06 ******/
CREATE DATABASE [UniversidadEjemplo] ON  PRIMARY 
( NAME = N'UniversidadEjemplo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\UniversidadEjemplo.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'UniversidadEjemplo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\UniversidadEjemplo_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UniversidadEjemplo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UniversidadEjemplo]
GO
/****** Object:  Table [dbo].[Carrera]    Script Date: 17/04/2023 23:12:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carrera](
	[IdCarrera] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Carrera] PRIMARY KEY CLUSTERED 
(
	[IdCarrera] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Materia]    Script Date: 17/04/2023 23:12:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Materia](
	[IdMateria] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](50) NULL,
	[IdCarrera] [int] NULL,
 CONSTRAINT [PK_Materia] PRIMARY KEY CLUSTERED 
(
	[IdMateria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Perfil]    Script Date: 17/04/2023 23:12:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Perfil](
	[IdPerfil] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Perfil] PRIMARY KEY CLUSTERED 
(
	[IdPerfil] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 17/04/2023 23:12:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[nombreDeUsuario] [nvarchar](50) NOT NULL,
	[clave] [nvarchar](50) NOT NULL,
	[IdPerfil] [int] NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Carrera] ON 

INSERT [dbo].[Carrera] ([IdCarrera], [Nombre]) VALUES (1, N'Tecnicatura en Desarrollo de Software')
INSERT [dbo].[Carrera] ([IdCarrera], [Nombre]) VALUES (2, N'Lic. en Turismo')
SET IDENTITY_INSERT [dbo].[Carrera] OFF
GO
SET IDENTITY_INSERT [dbo].[Materia] ON 

INSERT [dbo].[Materia] ([IdMateria], [Descripcion], [IdCarrera]) VALUES (1, N'SW y Los Nuevos Escenarios', 1)
INSERT [dbo].[Materia] ([IdMateria], [Descripcion], [IdCarrera]) VALUES (2, N'Técnicas de Programación', 1)
INSERT [dbo].[Materia] ([IdMateria], [Descripcion], [IdCarrera]) VALUES (3, N'Programación en Tiempo Real', 1)
SET IDENTITY_INSERT [dbo].[Materia] OFF
GO
SET IDENTITY_INSERT [dbo].[Perfil] ON 

INSERT [dbo].[Perfil] ([IdPerfil], [Descripcion]) VALUES (1, N'Profesor')
INSERT [dbo].[Perfil] ([IdPerfil], [Descripcion]) VALUES (2, N'Administrativo')
INSERT [dbo].[Perfil] ([IdPerfil], [Descripcion]) VALUES (3, N'Alumno')
SET IDENTITY_INSERT [dbo].[Perfil] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([IdUsuario], [nombreDeUsuario], [clave], [IdPerfil]) VALUES (1, N'dcruz', N'1234', 3)
INSERT [dbo].[Usuario] ([IdUsuario], [nombreDeUsuario], [clave], [IdPerfil]) VALUES (2, N'achimuris', N'1234', 1)
INSERT [dbo].[Usuario] ([IdUsuario], [nombreDeUsuario], [clave], [IdPerfil]) VALUES (3, N'myaggi', N'1234', 3)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
ALTER TABLE [dbo].[Materia]  WITH CHECK ADD  CONSTRAINT [FK_Materia_Carrera] FOREIGN KEY([IdCarrera])
REFERENCES [dbo].[Carrera] ([IdCarrera])
GO
ALTER TABLE [dbo].[Materia] CHECK CONSTRAINT [FK_Materia_Carrera]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Perfil] FOREIGN KEY([IdPerfil])
REFERENCES [dbo].[Perfil] ([IdPerfil])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Perfil]
GO
/****** Object:  StoredProcedure [dbo].[sp_insertar_materia]    Script Date: 17/04/2023 23:12:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_insertar_materia]
(
	@descripcion varchar(50),
	@idCarrera int
)
as
insert into Materia (Descripcion, IdCarrera)
values (@descripcion, @idCarrera)
GO
/****** Object:  StoredProcedure [dbo].[sp_listar_carreras]    Script Date: 17/04/2023 23:12:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_listar_carreras]
as
select idcarrera as 'Identificador', nombre as 'Descripción' from Carrera
GO
/****** Object:  StoredProcedure [dbo].[sp_listar_usuarios]    Script Date: 17/04/2023 23:12:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_listar_usuarios]


AS
BEGIN
	select
		usuario.IdUsuario,
		usuario.nombreDeUsuario,
		usuario.IdPerfil,
		perfil.Descripcion
	from
		Usuario usuario 
		inner join Perfil perfil on perfil.IdPerfil = usuario.IdPerfil

END
GO
/****** Object:  StoredProcedure [dbo].[sp_materiasxcarrera]    Script Date: 17/04/2023 23:12:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_materiasxcarrera]
(
	@pIdCarrera int
)
as
select 
	mat.IdMateria,
	mat.Descripcion,
	car.IdCarrera,
	car.Nombre
from
	materia mat
inner join Carrera car on  car.IdCarrera = mat.IdCarrera
where
	car.IdCarrera = @pIdCarrera
GO
/****** Object:  StoredProcedure [dbo].[sp_validar_usuario]    Script Date: 17/04/2023 23:12:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_validar_usuario]

	@username nvarchar(50),
	@password nvarchar(50)

AS
BEGIN
	select
		usuario.IdUsuario,
		usuario.nombreDeUsuario,
		usuario.IdPerfil,
		perfil.Descripcion
	from
		Usuario usuario 
		inner join Perfil perfil on perfil.IdPerfil = usuario.IdPerfil
	where 
		upper(nombreDeUsuario) =  upper(@username)
		AND clave = @password
END
GO
USE [master]
GO
